.todo-form {
    display: flex;
    width: 100%;
    margin: 10px;
}

.form-label {
    width: 20%;
    padding-top: 5px;
}

.input-text { 
    width: 70%;
    margin: 5px 5px 5px 0;
    border-radius: 5px;
}

input[type="button" i]{
    padding: 0;
}

.input-button {
    margin: 5px;
    width: 10%;
    border-radius: 5px;
}

.input-button:hover {
    background-color:beige
}

